<template>
  <h1 data-testid="title">{{ title }}</h1>
  <div class="alpaca-wrapper">
    <div
      id="alpaca-download"
      class="image-wrapper"
      data-testid="alpaca-wrapper"
    >
      <img
        v-for="(part, index) in alpacaImage"
        :key="index"
        :src="require(`../assets/alpaca/${part.name}/${part.options}.png`)"
        :alt="`Alpaca ${part.options} ${part.name}`"
        :class="`accesories-${part.name}`"
        :data-testid="`${part.name}-image-${part.options}`"
      />
    </div>
    <div class="actions-wrapper">
      <button class="" @click="randomImages" data-testid="random-button">
        Random Images
      </button>
      <button @click="downloadImage" data-testid="download-button">
        Download Image
      </button>
    </div>
    <div class="accesorize-panel">
      <h2 data-testid="accesorize-title">{{ panelTitle }}</h2>
      <div class="accesorize-buttons-wrapper">
        <button
          :class="{
            active: customizePart.name === optionSelected.name,
          }"
          :data-testid="`accesorize-button-${customizePart.name}`"
          v-for="(customizePart, index) in alpacasBodyParts"
          :key="index"
          @click="changeOptionsStyle(customizePart)"
        >
          {{ customizePart.name !== 'nose' ? customizePart.name : null }}
        </button>
      </div>
      <div class="style-options" data-testid="style-panel-options">
        <h2 data-testid="style-title">{{ styleTitle }}</h2>

        <h3 data-testid="style-panel-title" v-show="!isActive">
          Click in any button to show its options
        </h3>
        <div class="buttons-wrapper" v-show="isActive">
          <button
            v-for="(styleOption, index) in optionSelected.options"
            :key="index"
            class="style-option"
            :class="{ active: (optionsStyleSelected === styleOption) | '' }"
            @click="changeAlpacaStyleImage"
            :data-testid="`button-${styleOption}`"
          >
            {{ styleOption }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as htmlToImage from 'html-to-image';
import download from 'downloadjs';

function getRandomOption(min, max) {
  return Math.floor(Math.random() * (max - min) + min);
}

export default {
  name: 'AlpacaGenerator ',
  props: {
    title: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      panelTitle: "Accesorize the Alpaca's",
      styleTitle: 'Style',
      alpacasBodyParts: [
        {
          name: 'backgrounds',
          options: [
            'blue50',
            'blue60',
            'blue70',
            'darkblue30',
            'darkblue50',
            'darkblue70',
            'green50',
            'green60',
            'green70',
            'grey40',
            'grey70',
            'grey80',
            'red50',
            'red60',
            'red70',
            'yellow50',
            'yellow60',
            'yellow70',
          ],
        },
        { name: 'ears', options: ['default', 'tilt-backward', 'tilt-forward'] },
        {
          name: 'neck',
          options: ['bend-backward', 'bend-forward', 'default', 'thick'],
        },
        {
          name: 'leg',
          options: [
            'bubble-tea',
            'cookie',
            'default',
            'game-console',
            'tilt-backward',
            'tilt-forward',
          ],
        },
        {
          name: 'hair',
          options: [
            'bang',
            'curls',
            'default',
            'elegant',
            'fancy',
            'quiff',
            'short',
          ],
        },
        {
          name: 'eyes',
          options: ['angry', 'default', 'naughty', 'panda', 'smart', 'star'],
        },
        { name: 'nose', options: 'nose' },
        {
          name: 'mouth',
          options: ['astonishead', 'default', 'eating', 'laugh', 'tongue'],
        },

        {
          name: 'accesories',
          options: ['earings', 'flower', 'glasses', 'headphone'],
        },
      ],
      isActive: false,
      optionSelected: '',
      alpacaImage: [
        {
          name: 'backgrounds',
          options: 'blue50',
        },
        { name: 'ears', options: 'default' },
        {
          name: 'neck',
          options: 'default',
        },
        {
          name: 'leg',
          options: 'default',
        },
        {
          name: 'hair',
          options: 'default',
        },
        {
          name: 'eyes',
          options: 'default',
        },
        { name: 'nose', options: 'nose' },
        {
          name: 'mouth',
          options: 'default',
        },
        {
          name: 'accessories',
          options: 'flower',
        },
      ],
      optionsStyleSelected: '',
      pathImage: '',
    };
  },
  methods: {
    changeOptionsStyle: function(part) {
      this.isActive = true;
      return (this.optionSelected = part);
    },
    changeAlpacaStyleImage: function(styleOption) {
      const style = styleOption.srcElement.innerHTML;

      this.optionsStyleSelected = style;
    },
    randomImages: function() {
      this.alpacasBodyParts.forEach((element, index) => {
        const optionsLength = element.options.length;

        if (element.name === 'nose') {
          this.alpacaImage[index].options = element.options;
        } else {
          const randomNumber = getRandomOption(1, optionsLength);

          const randomOption = element.options[randomNumber];

          this.alpacaImage[index].options = randomOption;
        }
      });
    },
    downloadImage: function() {
      if (document.getElementById('alpaca-download') !== null) {
        htmlToImage
          .toPng(document.getElementById('alpaca-download'))
          .then(function(dataUrl) {
            download(dataUrl, 'my-alpaca.png');
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
  },
  watch: {
    optionsStyleSelected: function() {
      this.alpacaImage.filter((element, index) => {
        if (element.name === this.optionSelected.name) {
          this.alpacaImage[index].options = this.optionsStyleSelected;
        }
      });
    },
  },
};
</script>

<style scoped>
h1,
h2,
h3 {
  margin: 0 0 24px 0;
  color: var(--prussian-blue);
}
.alpaca-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 500px;
}

.image-wrapper {
  position: relative;

  display: block;
  width: 100%;
  max-width: 500px;
  min-height: 300px;

  flex-shrink: 0;
}

.alpaca-wrapper img:not(.accesories-backgrounds) {
  position: absolute;
  top: 0;

  display: block;

  width: 100%;
  height: auto;
}

.alpaca-wrapper .accesories-backgrounds {
  position: static;
  width: 100%;
  height: auto;
}

.accesorize-panel {
  padding: var(--container-padding) 0;
}

.accesorize-buttons-wrapper,
.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  margin: 0 0 32px 0;
}

.accesorize-buttons-wrapper button,
.style-options button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.2;
  color: var(--honey-yellow);

  width: max-content;
  min-width: 120px;
  padding: 8px 16px;
  border-radius: 16px;

  border: 1px solid var(--honey-yellow);
  background-color: transparent;
  transition: background-color 0.4s ease-in;
}

.accesorize-buttons-wrapper button:empty {
  display: none;
}

button:hover {
  background-color: var(--honey-yellow);
  color: white;
  cursor: pointer;
}

button.active {
  background-color: var(--honey-yellow);
  color: white;
}

.accesorize-button,
.style-options {
  text-transform: uppercase;
}

.actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--six-unit) * 2);

  width: 100%;

  padding: var(--container-padding) 0;
}

.actions-wrapper button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-color: var(--blue-green);
  box-shadow: 1px 1px 4.5px var(--blue-green);
  border: none;
  border-radius: 8px;

  min-height: 44px;
  width: 100%;
  font-family: inherit;
  font-size: 21px;
  font-weight: 700;
  color: white;
  padding: var(--six-unit) calc(var(--six-unit) * 2);
  cursor: pointer;
}

.actions-wrapper button:hover {
  opacity: 0.7;
}

.actions-wrapper button:active {
  opacity: 1;
}

/* @media screen and (min-width: 1024px) {
  .alpaca-wrapper {
    flex-wrap: nowrap;
    max-width: 300px;
  }
  .image-wrapper {
    width: 100%;
    max-width: 50%;
    margin: 0;
  }
  .accesorize-panel {
    padding: 0 var(--container-padding);
  }

  .accesorize-buttons-wrapper,
  .buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .accesorize-buttons-wrapper button,
  .style-options button {
    max-width: fit-content;
    margin-right: 16px;
  }
} */
</style>
