<template>
  <AlpacaGenerator title="Alpaca Generator" />
</template>

<script>
import AlpacaGenerator from '@/components/AlpacaGenerator.vue';
export default {
  name: 'App',
  components: {
    AlpacaGenerator,
  },
};
</script>

<style>
:root {
  --six-unit: 6px;
  --eight-unit: 8px;
  --container-padding: 24px;

  --light-cornflower-blue: hsla(199, 64%, 73%, 1);
  --blue-green: hsla(192, 70%, 43%, 1);
  --prussian-blue: hsla(200, 95%, 14%, 1);
  --honey-yellow: hsla(43, 100%, 51%, 1);
  --orange: hsla(32, 100%, 49%, 1);
}
#app {
  font-family: 'Arial';
  max-width: 500px;

  margin: 0 auto;
  padding: var(--container-padding);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
</style>
